.map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.map__img {
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-right: 1rem;
}

.form {
    width: 300px;
}

.form .field {
    width: 100%;
    margin-bottom: 10px;
}

.form .field input,
.form .field textarea {
    width: 100%;
    box-sizing: border-box;
}

.form .field textarea {
    resize: none;
}

.form .form-error {
    color: red;
}